/* Common styles for both desktop and mobile */
/* Common styles for both desktop and mobile */
.home {
  display: flex;
  flex-direction: row; /* Change the main axis to column for better stacking on mobile */

  .homeContainer {
    .viewToggle {
      display: flex;
      flex-direction: row; //maybe column
      gap: 10px;
      margin-bottom: 10px;

      button {
        flex: 1;
        padding: 10px;
      }
    }

    .views {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}

