.home {
  background-image: url('../../assets/frame.png'); /* Adjust the path to your background image */
  background: size 100%;/* Resize the background image to cover the entire container */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-position: center; /* Center the background image */
  background-attachment: fixed;
}
.home {

  .homeContainer {
    
    .viewToggle {
      display: flex;
      flex-direction: row; //maybe column
      gap: 10px;
      margin-bottom: 10px;

      button {
        flex: 1;
        padding: 10px;
      }
    }

    .views {
      gap: 20px;
    }
  }
}

