/* Common styles for both desktop and mobile */
.home {
  display: flex;

  .homeContainer {
    flex: 6;

    .viewToggle {
      display: flex;
      gap: 10px;
      margin-bottom: 10px;

      button {
        flex: 1;
        padding: 10px;
      }
    }

    .views {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}

/* Styles for desktop screens */
@media (min-width: 768px) {
  .home {
    .homeContainer {
      .views {
        flex-direction: row;
      }
    }
  }
}

/* Styles for mobile screens */
@media (max-width: 767px) {
  .home {
    .homeContainer {
      .views {
        flex-direction: column;
      }
    }
  }


}
